:root{
    --dark-bg: #ffe4c4;
    --darker-bg: #f0ffff;
    --accent: #000000;
    --accent-glow: rgb(141, 180, 157);
    --text: #ffffff;
}
.bot-pannel{
    display: none;
    justify-content: center;
    align-items: center;
}
body{
    display: inline-block;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, 
    #ff9a9e, 
    #fad0c4, 
    #fad0c4, 
    #fbc2eb, 
    #a6c1ee
    );
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i{
    margin-right: 10px;
    font-size: 18px;
}
.container{
    position: absolute;
    top: 10%;
    left: 38%;
    width: 400px;
    height: 500px;
    gap: 10px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pannel{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pannel h2{
    margin-top: 50px;
}
img{
    width: 150px;
    height: 150px;
}
.details{
    width: 100%;
    height: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-name{
    width: 80%;
    height: 30px;
    border: 1px solid var(--accent);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password{
    width: 80%;
    height: 30px;
    border: 1px solid var(--accent);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-name input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--accent);
}
.password input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--accent);
}
.login-btn{
    position: absolute;
    /* right: 30px; */
    bottom: 50px;
}
.login-btn button{
    width: 160px;
    height: 45px;
    padding: 6px 12px ;
    border: 2px solid var(--accent);
    background: linear-gradient(135deg, 
        #ff9a9e, 
        #fad0c4, 
        #a1c4fd, 
        #c2e9fb, 
        #fbc2eb, 
        #fda085
    );
    color: var(--accent);
    font-size: medium;
    outline: none;
    border-radius: 5px;
    transition: 0.2s ease;
}
.login-btn button:active{
    transform: scale(0.7);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: linear-gradient(135deg, 
    #ff9a9e, 
    #fad0c4, 
    #a1c4fd, 
    #c2e9fb, 
    #fbc2eb, 
    #fda085
    );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}
@media (max-width: 991px){
    .container{
        position: absolute;
        top: 15%;
        left: 5%;
        width: 372px;
        height: 470px;
        gap: 10px;
        border: 3px solid var(--accent);
        border-radius: 20px;
        background: linear-gradient(135deg, 
        #ff9a9e, 
        #fad0c4, 
        #a1c4fd, 
        #c2e9fb, 
        #fbc2eb, 
        #fda085
        );
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pannel{
        position: relative;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pannel h2{
        margin-top: 100px;
        font-size: 20px;
    }
    img{
        width: 130px;
        height: 130px;
    }
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        gap: 15px;
        background: var(--darker-bg);
        color: var(--accent);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
    }

}
