body{
    margin: 0;
    padding: 0;
    background: url("image.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i{
    margin-right: 20px;
}
a{
    text-decoration: none;
}
.pannel{
    position: absolute;
    left: 5%;
    top: 10px;
    width: 90%;
    height: 65px;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.items{
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.logo img{
    width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 50%;
}
.detail{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border: 1px solid grey;
    padding: 2px; */
}
.name button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    border: 2px solid black;
    background: linear-gradient(135deg,
        #1e3c72,  /* deep navy blue */
        #2a5298,  /* medium blue */
        #6dd5ed   /* light sky blue */
      );
    color: white;
    font-weight: 400;
    font-size: 15px;
    transition: 0.1s ease;
}
#port{
    display: none;
}
.name button:hover{
    cursor: pointer;
}
.name button:active{
    transform: scale(0.9);
}
.container{
    position: absolute;
    left: 5%;
    top: 12%;
    width: 90%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard{
    position: absolute;
    top: 0px;
    left: 2px;
    width: 200px;
    height: 480px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
}
.dashboard h2{
    margin: 0;
    margin-top: 10px;
    color: #205583;
    cursor: pointer;
}
.dashboard button i{
    position: relative;
    padding: 5px;
    font-size: large;
}
.dashboard button{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    background: linear-gradient(135deg, 
    #ff9a9e, 
    #fad0c4, 
    #a1c4fd, 
    #c2e9fb, 
    #fbc2eb, 
    #fda085
    );
    color: black;
    display: flex;
    font-display: row;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease;
}
.dashboard button:active{
    transform: scale(0.9);
}
.links{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 1100px;
    padding: 10px;
    height: 480px;
    border-radius: 10px;
    background: linear-gradient(135deg, 
    #ff9a9e, 
    #fad0c4, 
    #fbc2eb
    );

}
.links h2{
    width: 95%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links p{
    font-weight: 600;
    font-size: 20px;
    color: #205583;
    padding: 2px;
    margin: 5px;
}
.bottom{
    position: absolute;
    left: 5%;
    bottom: 10px;
    width: 90%;
    height: 90px;
    border-radius: 10px;
    background-color: white;
    color: #ff6ec7; 
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px){
    body{
        background: url("phone.webp");
        background-size: cover;
    }
    .pannel{
        position: absolute;
        left: 6%;
        top: 20px;
        width: 90%;
        height: 65px;
        border-radius: 10px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .items{
        width: 90%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 70px;
        margin-right: 10px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }
    .logo img{
        width: 65px;
        height: 65px;
        padding: 10px;
        border-radius: 50%;
    }
    .logo p{
        display: none;
    }
    .detail{
        width: 600px;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .name{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        /* border: 1px solid grey;
        padding: 2px; */
    }
    .name button{
        width: 65px;
        height: 40px;
        border-radius: 10px;
        padding: 5px;
        margin-left: 7px;
        outline: none;
        border: 1px solid black;
        background: linear-gradient(135deg,
            #1e3c72,  /* deep navy blue */
            #2a5298,  /* medium blue */
            #6dd5ed   /* light sky blue */
        );
        color: white;
        font-weight: 600;
        font-size: 10px;
        transition: 0.1s ease;
    }
    .name button:hover{
        cursor: pointer;
    }
    .name button:active{
        transform: scale(0.9);
    }
    .dashboard{
        position: absolute;
        top: 25px;
        left: 2%;
        width: 92%;
        padding: 10px;
        height: 550px;
        border-radius: 10px;
        display: none;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
        }
    .dashboard h2{
        margin: 0;
        margin-top: 10px;
        color: #205583;
        cursor: pointer;
    }
    .dashboard button i{
        position: relative;
        padding: 5px;
        font-size: large;
    }
    .dashboard button{
        width: 200px;
        height: 60px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 500;
        outline: none;
        border: 2px solid black;
        background: linear-gradient(135deg, 
        #ff9a9e, 
        #fad0c4, 
        #a1c4fd, 
        #c2e9fb, 
        #fbc2eb, 
        #fda085
        );
        color: black;
        display: flex;
        font-display: row;
        align-items: center;
        cursor: pointer;
        transition: 0.1s ease;  
    }
    .dashboard button:active{
        transform: scale(0.9);
    }

    .links{
        position: absolute;
        top: 25px;
        left: 2%;
        width: 92%;
        padding: 10px;
        height: 550px;
        border-radius: 10px;
        background: linear-gradient(135deg, 
        #ff9a9e, 
        #fad0c4, 
        #fbc2eb
        );
    }
    .links h2{
        width: 95%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .links p{
        font-weight: 600;
        font-size: 13px;
        color: #205583;
        padding: 2px;
        margin: 5px;
        text-align: center;
    }
    .bottom{
        position: absolute;
        left: 5%;
        bottom: 20px;
        width: 90%;
        height: 80px;
        border-radius: 10px;
        background-color: white;
        color: #ff6ec7; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    
}  
