body{
    margin: 0;
    padding: 0;
    background: url("image.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i{
    margin-right: 20px;
}
a{
    text-decoration: none;
}
.pannel{
    position: absolute;
    left: 5%;
    top: 10px;
    width: 90%;
    height: 65px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.items{
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.logo img{
    width: 75px;
    height: 75px;
    padding: 10px;
}
.detail{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #205583;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border: 1px solid grey;
    padding: 2px; */
}
.name button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    border: 2px solid black;
    background-color: #205583;
    color: white;
    font-weight: 400;
    font-size: 15px;
    transition: 0.1s ease;
}
.name button:hover{
    cursor: pointer;
}
.name button:active{
    transform: scale(0.9);
}
.container{
    position: absolute;
    left: 5%;
    top: 12%;
    width: 90%;
    height: 600px;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}