*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Outfit',sans-serif;
}
:root{
    --bg-color: #fff;
    --snd-bg-color: #63938f96;
    --text-color: #000;
    --main-color: #02655be7;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    height: 823px;
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}
.wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-color);
    color: white;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    padding: 20px;
    height: 90px;
    box-shadow: 0px 5px 8px #1e06892b;
    position: relative;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 25px;
    gap: 10px;
    color: white;
    margin-left: 25px;
    max-width: 150px;
}
.logo img{
    width: 45%;
    border-radius: 50%;
}
.menu-items{
    display: flex;
    align-items: center;
}
.menu-items li a{
    color: white;
    padding: 2px 25px;
    transition: 0.5s;
    font-size: 18px;
}
.menu-items li a:hover{
    color: rgb(6, 191, 205);
    letter-spacing: 1px;
}
.button{
    font-size: 17px;
    padding: 12px 24px;
    margin-left: 12px;
    background: linear-gradient(45deg, #4258c6, #1871c9);
    border-radius: 9px;
    color: white;
    transition: 0.4s;
    outline: none;
    border: none;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    letter-spacing: 1px;
}
.button:active{
    transform: scale(0.85);
}
.toggle-menu{
    display: none;
}
.menu-item a:hover, .menuitem a:active{
    color: var(--text-color);
}
#menu-icon{
    display: none;
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.home-img img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-content{
    margin-left: 5rem;
    margin-top: 20px;
}
.home-content h3{
    font-size: 3.7rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}
span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
/* .social-media a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
} */
.btn{
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}
.btn:hover{
    box-shadow: 0 0 1.6rem var(--main-color);
}

.about{
    height: 741px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.about-img img{
    width: 25vw;
    margin-right: 35px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 6rem;
}
.about-content{
    margin-left: 30px;
    padding: 0 4rem;
}
.about-content h2{
    text-align: left; 
    line-height: 1.2;
}
.about-content h3{
    font-size: 3rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.services h2{
    margin-bottom: 5rem;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
/* .service-container .service-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}
.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.service-box h3{
    font-size: 2.6rem;
}
.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
} */

.testimonial{
    background: var(--snd-bg-color);
}
.testimonial-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonial .heading{
    margin-bottom: 5rem;
}
.testimonial-box img{
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.wraper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.testimonial-items{
    min-height: 450px;
    max-width: 450px;
    background: var(--bg-color);
    border: 0.3rem solid var(--bg-color);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-color);
    transition: 0.3s ease;
}
.testimonial-items:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.testimonial-items h2{
    font-size: 3rem;
}
.testimonial-items p{
    font-size: 1.8rem;
    text-align: center;
}
#star{
    color: gold;
    font-size: 2rem;
}
.contact{
    background: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--main-color);
}
.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}
.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--snd-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}
.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* @media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .services{
        padding: 7rem;
    }
    .testimonial .wraper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form .input-box input{
        width: 100%;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 991px){
    #menu-icon{
        display: block;
    }
    .menu-item{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }
    .menu-item a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .menu-item.active{
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
        order: 2;
        margin-left: 1rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
        animation: none;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 70vw;
        margin-left: 4rem;
        margin-top: 4rem;
        animation: none;
    }
    .services h2{
        margin-bottom: 3rem;
    }
} */
